 .gpt3__features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    max-width: 100%;
    
 }

 .gpt3__features-heading{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: left;
    margin-right: 5rem;

 }

 .gpt3__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.gpt3__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.gpt3__features-container{
    display: flex;
    flex: 1.5;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start ;
}

@media screen and (max-width: 990px) {
    .gpt3__features{
        flex-direction: column;
    }

    .gpt3__features-heading{
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__features-heading h1{
        font-size: 28px;
        line-height: 38px;
    }
}